# Transformer les sources .txt en .csv

In [2]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_csv('Steel-Columns-Test-Data-main/Elkady and Lignos (2018)/Base end moment-chord rotation response/C1.txt', delim_whitespace=True)

data

           Rotation  Base_moment      [kN.m]  Axial_Disp.  [mm]
0      5.924460e-07  -990.119986    0.000000          NaN   NaN
1      8.493680e-08  -990.178770    0.000171          NaN   NaN
2     -8.870750e-08  -946.871721    0.000288          NaN   NaN
3      1.181020e-08  -990.111229    0.000282          NaN   NaN
4      4.159780e-07  -990.246909   -0.000002          NaN   NaN
...             ...          ...         ...          ...   ...
45957 -7.076181e-03  1041.277647 -282.807828          NaN   NaN
45958 -7.025396e-03  1040.611041 -282.844813          NaN   NaN
45959 -6.974183e-03  1040.678532 -282.881499          NaN   NaN
45960 -6.921306e-03  1039.808724 -282.917828          NaN   NaN
45961 -6.879654e-03  1037.439928 -282.955260          NaN   NaN

[45962 rows x 5 columns]